@use '../../styles/variables' as v;

.message {
  width: 100%;
  position: absolute !important;
  bottom: 0;

  input:focus {
    border-color: pink !important;
  }

  .icon::before {
    color: red !important;
  }
}
