@use '../../styles/variables' as v;

form {
  width: 100%;
  position: absolute;
  bottom: 0;

  .input {
    width: 96%;
    margin: 0 auto 0.6rem auto;

    input {
      height: 3rem;
      width: 100%;
      padding: 0 1rem;
    }
  }
}
